<script src="/javascripts/inBrowserMain.js"></script>
<div class="container">
    <h3>Twilio test call 1</h3>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Bot To Meeting
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/bot">Go to Add bot page</a></li>
        </ul>
    </div>
    <br>
    <form class="newTicket">
        {{!-- <img src="/images/phone3.jpg"> --}}
        <div class="form-group">
            <label for="usr">Number:</label>
            <input type="text" class="form-control testSize" name="phoneNumber" id="phoneNumber">
        </div>
        <button type="button" class="btn btn-success answerButton">Start Meeting</button>
        <button type="button" class="btn btn-warning hangUpButton" style="display: none;">End Meeting</button>
        <a href="/" type="button" class="btn btn-success newCallButton" style="display: none;">New Meeting</a>
        <img src="/images/loading.gif" id="loader" style="display: none;">
        <span class="message">Loading...</span>
        <br>
        <br>
        <div class="form-group">
            <audio controls id="audio" style="display: none;">
                <source src="" type="audio/ogg" id="recordUrl">
                Your browser does not support the audio element.
            </audio>
        </div>
        <label for="comment" style="display: none;" id="labelTranscription">Transcription:</label>
        <textarea class="form-control testSize hidden" rows="5" id="transcription"></textarea>
        <span id="count" style="display: none;"></span><br>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-2"><button type="button" class="btn btn-success sendSms" style="display: none;">Send
                    Message</button></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-2"><span id="sms"></span></div>
            <div class="col-md-3"></div>
        </div>

    </form>
</div>